// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

#search-li {
  margin-top: 10px;
}

#hero-main {
  height: 800px;
}

#chart-course {
  width: 100%;
  height: 100%;
}
