// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hero-height: 800px;

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

#search-li {
  margin-top: 10px;
}

#hero-main {
  height: $hero-height;
}

.data-chart {
  width: 100%;
  height: 100%;
}

.tabbable, .tab-pane {
  height: 100%;
}

.tab-content {
  height: $hero-height - 30px;
}

.select2-container {
  width: 100%;
}
