/*
 *Ultima Color Scheme hex: #4dbc84
 *Copyright 2014 8Guild.com
 */
 
.side-navi ul li.current a {
	-webkit-box-shadow: 0 0 0 2px #4dbc84;
	-moz-box-shadow: 0 0 0 2px #4dbc84;
	box-shadow: 0 0 0 2px #4dbc84;
}
.jumbotron {
  background-color: #4dbc84;
}
.gallery li.gall-expanded > a::after {
	border-bottom-color: #4dbc84;
}
.gall-expander {
	background: #4dbc84;
}
.pricing-plan.highlited .body {
	background-color: #4dbc84;
}
header.hero {
	background-color: #4dbc84;
}
.page-block.color {
	background-color: #4dbc84;
}
.social-networks a:hover {
	color: #4dbc84;
}
.footer {
	background-color: #4dbc84;
}
.cs-page header {
	background-color: #4dbc84;
}
.cs-page .footer {
	background-color: #4dbc84;
}
.coming-soon header {
	background-color: #4dbc84;
}
.middle-block {
	background-color: #4dbc84;
}

